* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 1440;
  font-family: "Poetsen One", sans-serif, "Times New Roman", Times, serif;
}
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}
h1 {
  font-size: 3rem;
}
/* Seccion de Header */
.nav {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 3rem;
  background-color: #ffffff;
  width: 20%;
  transform: translate(-180%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  
}

.navbar .menu-items li {
  font-size: 1.5rem;
  font-weight: 500;
}
.navbar .menu-items li:hover {
  background-color: #bd6af5;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  display: flex;
  justify-content: flex-end;
}
.logo img {
  width: 130px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}


/* Seccion de Hero */
.hero {
  display: flex;
  background-color: #25d3bc;
}
.img-principal {
  width: 60%;
}
.img-principal img {
  width: 50rem;
  display: flex;
}
/*roller Hero Landing*/
.text {
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  text-align: center;
  text-transform: uppercase;
  color: #f1faee;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000303;
}

#spare-time {
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 0.6rem;
  margin-top: 0;
  color: #902ed1;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}
/* Seccion about */
.about {
  background-color: #e5cdec;
  display: flex;
  flex-direction: row;
}
#me img {
  width: 30rem;
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.me {
  width: 70%;
  text-align: justify;
  padding-top: 50px;
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
}
.me h1 {
  color: #902ed1;
}
.me p {
  padding-top: 20px;
  max-width: 45rem;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
 font-style: italic;

}
/* Seccion de Servicios */
.cards-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.title {
  font-size: 3rem;
  padding-top: 50px;
  color: #902ed1;
}
.cards-wrapper {
  display: flex;
  flex-direction: row;
}

.card {
  font-family: "Roboto";
  height: 420px;
  width: 300px;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  font-size: 1.1em;
  color: #000;
  margin: 0.5em;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
  transform: scale(.9);
}
.card h1 {
  margin: 0;
  font-size: 1.3em;
  line-height: 2em;
  text-align: center;
  padding-top: 5px;
}

.card p {
  font-size: .8rem;
  font-family: "Roboto";
  line-height: 1.5em;
  margin: 0 1rem;
  text-align: justify;
}
.card img {
  width: 100%;
  height: 225px;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 1em;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0 0.5em;
  display: flex;
  font-family: "Roboto";
  font-weight: 800;
  border: 1px solid #fff;
  margin-left: 4rem;
  margin-top: 1em;
}

.card:hover .tags .tag {
  background: blueviolet;
  color: white;
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: blueviolet;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 250%;
  height: 250%;
}

.card:hover {
  color: blueviolet;
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

/* FOOTER */
footer {
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}
.footer #menu {
  width: 600px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer #menu li {
  list-style: none;
}
.footer #menu li a {
  text-decoration: none;
  color: rgb(250, 246, 249);
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 700;
}
.footer #menu li a:hover {
  color: #25d3bc;
}
.footer-redes {
  display: flex;
  gap: 15px;
  max-width: 100%;
}

.footer a {
  transition: 0.3s ease-in-out;
  padding: 5px;
}
footer #feet {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer a i {
  font-size: 25px;
  color: white;
}
footer #feet p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: end;
  justify-content: end;
  color: white;
}
.footer #logo {
  width: 150px;
  padding-top: 30px;
  filter: invert(100%);
}
.footer-redes i:hover {
  transform: scale(1.3);
  border-radius: 20px;
  color: #25d3bc;
}
.background {
  margin: auto;
  font-family: "Roboto", BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-color: #242525;
}

/* Whatsapp button*/
.whatsApp {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 190px;
  left: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  margin-bottom: 10px;
}
.my-whatsApp {
  margin-top: 16px;
}
.whatsApp:hover {
  background-color: white;
  color: #25d366;
}
.whatsApp:ac#25d366 .whatsApp:before,
.whatsApp:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.whatsApp:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #046126 20%, transparent 30%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #046126 15%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.whatsApp:hover::after {
  /* whatsApp: -70%; */
  background-image: radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #046126 15%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%),
    radial-gradient(circle, #046126 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  * {
    max-width: 100%;
  }
  
  .text {
  display: none;
  }
  .nav:first-of-type img {
    width: 80px;
    padding-top: 10px;
  }
  .nav-container {
    display: none;
  }
  .navbar .menu-items {
    padding-top: 3rem;
    background-color: #ffffff;
    width: 20%;
    transform: translate(-180%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    
  }
  .container {
    width: 100%;
    margin: auto;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(203, 98, 248);
  }
  .hero .img-principal {
    width: 60rem;
  }

  .info {
    background-color: rgb(203, 98, 248);
  }

  .info .title {
    color: white;
    font-size: 2rem;
  }
  .cards-all .cards-wrapper {
    display: flex;
    flex-direction: column;
  }
  .card { 
    height: 300px;
    width: 200px;
    font-size: 1.1em;
    color: #fff;
    padding: 0;
    margin: 0.5em;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }
  .card:hover {
    color: #242525;
    transition: all;
    transform: scale(1.1);
  }
  .card button {
    padding-left: 2rem;
  }

  .card h1 {
    margin: 0;
    font-size: .8em;
    line-height: 1.2em;
    text-align: center;
    padding-top: 15px;
  }
  
  .card p {
    padding-top: 10px;
    font-size: .6em;
    font-family: "Roboto";
    line-height: 1.2em;
    text-align: justify;
    padding: .7rem 1rem 0 .7rem;
  }
  .card img {
    width: 200px;
    height: 150px;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: .8em;
    background: #fff;
    border-radius: 0.5rem;
    margin-left: 2rem;
    padding: 0 1rem;
    display: flex;
    font-family: "Roboto";
    font-weight: 400;
    border: 1px solid #242525;
  }
  .about {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    background-color: #25d3bc;
  }
  .about h1 {
    color: #fff;
  }
  .about p {
    color: #fff;
    font-size: 1.1rem;
  }
  .me {
    width: 100%;
    padding-top: 20px;
  }
  .about .title {
    font-size: 2rem;
    width: 100%;

  }
  .whatsApp {
    display: none;
  }
  .my-whatsApp {
    display: none;
  }
  .servicios {
    background-color: #902ed1;
  }
  footer #logo {
    display: none;
  }
  footer .footer-redes i {
    font-size: 1rem;
  }
  footer #feet p {
    font-size: 1rem;
   text-align: center;
  }
}